---
layout: default
---

<main class="home">

  {% for collection in site.collections %}

    {% if collection.name %}
    {% assign col = collection.name | downcase %}
    {% assign posts = site[col] | reverse %}
    <div class="item" style="background-image: url('{{ site.github.url }}/img/{% for post in posts limit:1 %}{{ post.image }}{% endfor %}')">
      <h1 class="item-title"><a href="{{ site.github.url }}{{ collection.url }}">{{ collection.name }}</a></h1>
    </div>
    {% endif %}

  {% endfor %}

</main>
